/*.info-panel {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background: var(--ink);
  padding: 52px 46px;
  border-right: 1px solid rgba(227, 190, 92, 0.25);
}*/

.info-panel {
  display: flex;
  flex-direction: column; /* stacks Logo above SectionList */
  align-items: center;    /* horizontal centering */
  justify-content: center; /* vertical centering */
  min-height: 100%;       /* or 100vh if it occupies the full viewport */
  width: 100%;
}