* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  /*Common colors*/
  --ink: #141210;
  --ink-panel: #1B1812;
  --yellow: #E3BE5C;
  --yellow-faded: #EBD9A6;
  --yellow-pale: #F6EFDC;
}

body{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Archivo', sans-serif;
}